:root {
    --image-offset: 20px;
    --image-size: 300px
}

.artist:nth-child(even) {
    background-color: aqua;
}
.artist:nth-child(odd) {
    background-color: brown;
}
.artist-image {
    display: inline;
}
.artist-image img {
    position: relative;
    width: var(--image-size);
    height: var(--image-size);
    top: var(--image-offset);
    border-radius: 10px;
}
.artist:nth-child(odd) .artist-image {
    float: left;
    background-color: bisque;
}
.artist:nth-child(odd) .artist-image{
    margin-right: calc(var(--image-offset) + 25px);
    margin-bottom: calc(var(--image-offset) + 25px);
}
.artist:nth-child(odd) .artist-image img {
    left: var(--image-offset);
}
.artist:nth-child(even) .artist-image {
    float: right;
    background-color: blueviolet;
}
.artist:nth-child(even) .artist-image{
    margin-left: calc(var(--image-offset) + 25px);
    margin-bottom: calc(var(--image-offset) + 25px);
}
.artist:nth-child(even) .artist-image img {
    right: var(--image-offset);
}
.promotion {
    text-align: center;
}