:root {
    --image-offset: 20px;
    --image-size: 300px
}
.artist-image {
    display: inline;
}
.artist-image div {
    position: relative;
    width: var(--image-size);
    height: var(--image-size);
    top: var(--image-offset);
    overflow: hidden;
}

.artist h1 {
    margin-bottom: 10px;
}

.artist-image div img{
    height: 100%;
    min-height: 100%;
    width:100%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    object-fit: cover;
}
.artist:nth-of-type(even) .artist-image {
    float: left;
    background-color: var(--tiffany-blue);
}
.artist:nth-of-type(even) .artist-image{
    margin-right: calc(var(--image-offset) + 25px);
    margin-bottom: calc(var(--image-offset) + 25px);
}
.artist:nth-of-type(even) .artist-image div {
    left: var(--image-offset);
}
.artist:nth-of-type(odd) .artist-image {
    float: right;
    background-color: var(--neon-blue);
}
.artist:nth-of-type(odd) .artist-image{
    margin-left: calc(var(--image-offset) + 25px);
    margin-bottom: calc(var(--image-offset) + 25px);
}
.artist:nth-of-type(odd) .artist-image div {
    right: var(--image-offset);
}
.promotion {
    text-align: center;
}

.promotion a {
    font-size: 1em;
}

.more-btn {
    font-size: 1em;
    color: var(--cultured);
}

.more-btn:hover {
    color: var(--cultured);
}