/* Countdown and background image */

.ldBar {
    width: 120px !important;
    height: 120px !important;
}

.progress {
    padding: 0px;
}

#day-cd .ldBar-label::after {
    content: " days";
    font-size: 1em;
}

#hr-cd .ldBar-label::after {
    content: " hours";
    font-size: 1em;
}
#min-cd .ldBar-label::after {
    content: " minutes";
    font-size: 1em;
}
#sec-cd .ldBar-label::after {
    content: " seconds";
    font-size: 1em;
}

.ldBar path.mainline {
    stroke-width: 5;
    stroke: var(--radical-red);
}

.ldBar path.baseline {
    stroke-width: 1;
}

.ldBar-label {
    text-shadow: none !important;
}

.countdown-container {
    width: 100%;
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
    color: var(--cultured);
    display: table;
}

.countdown-content {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.countdown-background {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
    filter: brightness(70%) blur(5px);
}

.countdown-text {
    font-size: 8vw;
}

countdown {
    font-size: 6vw;
}

#tickets-link {
    border: 4px solid;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.5rem;
}

/* Schedule section */

.schedule-content {
    display: flex;
    justify-content: space-between;
}

.schedule-img {
    height: 300px;
    width: auto;
}

/* Sponsor section */

.sponsor-image {
    width: 200px;
    height: auto;
}

@media screen and (max-width:800px) {
    .sponsor-content {
        overflow-x: scroll;
        overflow-y: hidden;
        max-height: 70vh;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .countdown-text, countdown {
        font-size: 40px;
    }
}