.homeContent>div + div {
    margin-top: 20vh;
}

.countdownContainer{
    width:100%;
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
    color: white;
}
.countdownSubBox{
    text-align: center;
}
.countdownBackground{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
}
.countdownText {
    font-size: 100px;
}
countDown {
    font-size: 50px;
}

.aboutTheEventContainer {
    display:flex;
}

.staff {
    text-align: center;
}

.scheduleContainer {
    display:flex;
    justify-content: space-between;
}
.scheduleImage {
    height:300px;
    width:auto
}

.sponsorImage {
    width:200px;
    height:auto
}
.sponsorRow1 {
    display:flex;
    justify-content: space-between;
}
.sponsorRow2 {
    display:flex;
    justify-content: space-around;
}