/* Countdown and background image */

.countdown-container {
    width: 100%;
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
    color: white;
    display: table;
}

.countdown-content {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.countdown-background {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
}

.countdown-text {
    font-size: 100px;
}

countdown {
    font-size: 50px;
}

/* Schedule section */

.schedule-content {
    display: flex;
    justify-content: space-between;
}

.schedule-img {
    height: 300px;
    width: auto;
}

/* Sponsor section */

.sponsor-row-1 {
    display: flex;
    justify-content: space-between;
}

.sponsor-row-2 {
    display: flex;
    justify-content: space-around;
}

.sponsor-image {
    width: 200px;
    height: auto;
}