.itempage img{
    float:left;
    margin: 10px;
}
.itempage {
    height:auto;
    overflow:auto;
}
.itempage h1{
    margin-bottom: 5px;
}
.itempage p{
    text-align: center;
}

.itemanddesc{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.desc{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}