table {
    width: 100%;
}
button {
    background: none;
    border: none;
    color: var(--radical-red);
    font-size: 25px;
    text-decoration: underline;
}
form {
    margin-top: 35px;
    flex-direction: column;
    display: flex;
    justify-content: center;
}
th {
    font-size: 24px;
}
td {
    padding: 2px;
    font-size: 18px;
}