table {
    width: 100%;
}
button {
    margin-top: 20px;
    width:100%;
    background: none;
    border: none;
    color: var(--radical-red);
    font-size: 25px;
    text-decoration: underline;
}
.day {
    padding: 20px;
    border: 2px solid gray;
}
form {
    margin-top: 50px;
    margin-bottom: 25px;
}
.label{
    border-bottom: 5px solid grey;
}
tr + tr {
    margin-top:10px
}
th {
    padding: 8px;
    font-size: 24px;
}
td {
    padding: 8px;
    font-size: 18px;
}
tr {
    width: 100%;
}
h1 {
    text-align: center;
    margin-bottom: 100px;
}
.previews {
    display: flex;
    justify-content: space-around;
}
.previews img {
    height: 350px
}