.store-card {
    width: 18rem;
    background-color: var(--prussian-blue);
    margin-top: 5px;
    margin-bottom: 5px;
}

item {
    display: inline;
}

#search-bar {
    text-decoration: none;
    border: none;
    width: 100%;
    padding: 5px;
}

#search-button {
    text-decoration: none;
    border: none;
    background-color: var(--tiffany-blue);
    color: var(--cultured);
    padding: 5px 10px;
}

.tags-select {
    margin: 10px 5px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.tags-select input {
    position: absolute;
    visibility: hidden;
}

.tags-select label {
    padding: 10px;
    margin: 10px;
}

.tags-select input[type=checkbox]+label {
    background-color: var(--radical-red);
}
  
.tags-select input[type=checkbox]:checked+label {
    background-color: var(--radical-red-alt);
}