.store-card {
    color: var(--cultured);
    width: 18rem;
    background-color: var(--prussian-blue);
    border-radius: 0;
    margin: 5px;
    padding: 0;
}

img.card-img-top {
    border-radius: 0;
}

#search-bar {
    text-decoration: none;
    border: none;
    width: 100%;
    padding: 5px;
}

#search-button {
    text-decoration: none;
    border: none;
    background-color: var(--tiffany-blue);
    color: var(--cultured);
    padding: 5px 10px;
}

.tags-select {
    padding: 2px;
    margin: 10px 5px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.tags-select label{
    padding: 6px;
    margin:4px;
}

.tags-select button{
    background-color: var(--radical-red);
    border: none;
}
.tags-select input {
    display: none;
}

#gallery {
    margin: 0 auto;
}

.tags-select input:checked+button {
    background-color: var(--radical-red-alt);
}

@keyframes open {
    from{
        width: 5x;
    }
    to{
        width: 15px;
    }
}