.store-card {
    width: 18rem;
    background-color: var(--prussian-blue);
    margin-top: 5px;
    margin-bottom: 5px;
}

#search-bar {
    text-decoration: none;
    border: none;
    width: 100%;
    padding: 5px;
}

#search-button {
    text-decoration: none;
    border: none;
    background-color: var(--tiffany-blue);
    color: var(--cultured);
    padding: 5px 10px;
}

.tags-select {
    margin: 10px 5px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.tags-select label{
    padding: 6px;
    margin:4px;
}
.tags-select input {
    background-color: var(--radical-red);
    border: none;
    visibility: hidden;
}
  
.tags-select input:checked {
    background-color: var(--radical-red-alt);
}