<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/loading-bar.min.css') }}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css" integrity="sha384-7ynz3n3tAGNUYFZD3cWe5PDcE36xj85vyFkawcF6tIwxvIecqKvfwLiaFdizhPpN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.5.1/dist/simpleParallax.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/loading-bar.min.js') }}"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="{{ url_for('static', filename='js/store.js') }}"></script>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/artists.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/store.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/item.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    {% block head %}{% endblock %}
    <title>{{ title }} | ArchFest</title>
</head>

<body>
    <button onclick="toggleNavbar()" class="nav-open"><span class="material-icons" id="menu-icon">menu</span></button>
    <nav class="navbox" style="display: none;">
        <div class="navbar-back"></div>
        <button link="{{ url_for('home') }}" class="page-nav" js="loadhome()">Home</button>
        <button link="{{ url_for('artists') }}" class="page-nav" js="">Artists</button>
        <button link="{{ url_for('register') }}" class="page-nav" js="">Register</button>
        <button link="{{ url_for('store') }}" class="page-nav" js="loadstore()">Store</button>
        <button link="{{ url_for('faq') }}" class="page-nav" js="">FAQ</button>
        <button link="{{ url_for('tsa_info') }}" class="page-nav" js="">TSA Info</button>
    </nav>

    <div id = 'page'>
        <div>
            {% block content %}{% endblock %}
        </div>
    </div>

    <footer class="py-5">
        <div class="container">
            <div class="row py-3">
                <div class="col-12 col-sm-3 text-sm-start text-center mb-4">
                    <h5>Offerings</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item"><a href="{{ url_for('artists') }}" class="nav-link text-muted px-2">Artists</a></li>
                        <li class="nav-item"><a href="{{ url_for('register') }}" class="nav-link text-muted px-2">Register</a></li>
                        <li class="nav-item"><a href="{{ url_for('store') }}" class="nav-link text-muted px-2">Store</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-3 text-sm-start text-center mb-4">
                    <h5>About Us</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item"><a href="{{ url_for('home') }}" class="nav-link text-muted px-2">Home</a></li>
                        <li class="nav-item"><a href="{{ url_for('faq') }}" class="nav-link text-muted px-2">FAQ</a></li>
                        <li class="nav-item"><a href="{{ url_for('contact') }}" class="nav-link text-muted px-2">Contact</a></li>
                        <li class="nav-item"><a href="{{ url_for('tsa_info') }}" class="nav-link text-muted px-2">TSA Info</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-3 text-sm-start text-center mb-4">
                    <h5>Legal</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item"><a href="{{ url_for('privacy') }}" class="nav-link text-muted px-2">Privacy Policy</a></li>
                        <li class="nav-item"><a href="{{ url_for('refund') }}" class="nav-link text-muted px-2">Sales & Refund</a></li>
                        <li class="nav-item"><a href="{{ url_for('licensing') }}" class="nav-link text-muted px-2">Licensing</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-3 text-sm-start text-center mb-4">
                    <h5>Newsletter</h5>
                    <form action="" method="POST" id="newsletter-form">
                        {{ newsletter_form.csrf_token }}
                        <div class="form-grop">
                            {{ newsletter_form.email(class_="form-control", placeholder_="Email") }}
                            {{ newsletter_form.submit }}
                        </div>
                    </form>
                </div>
            </div>
            <div class="social-icons">
                <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer" class="text-muted"><i class="bi bi-twitter"></i></a>
                <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" class="text-muted"><i class="bi bi-instagram"></i></a>
                <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" class="text-muted"><i class="bi bi-facebook"></i></a>
                <a href="https://www.snapchat.com/" target="_blank" rel="noopener noreferrer" class="text-muted"><i class="bi bi-snapchat"></i></a>
                <a href="https://youtu.be/dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer" class="text-muted"><i class="bi bi-youtube"></i></a>
                <a href="https://www.twitch.tv/" target="_blank" rel="noopener noreferrer" class="text-muted"><i class="bi bi-twitch"></i></a>
            </div>
            <p class="text-center text-muted border-top my-3 py-3">
                The source code is licensed <a href="https://github.com/j-nac/TSAWebmaster-2122/blob/a82b9b293e339e309c6b0c8c2a64bb68afc37d82/LICENSE" target="_blank" >MIT</a>. The website content is licensed <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a>.
            </p>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
</body>

</html>