<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <title>{{ title }} | SITE NAME</title>
    {% block head %}{% endblock %}
</head>

<body>
    <button onclick="toggleNavbar()" class="navOpen" style="z-index: 3; border:none; background-color: #00000000;"><span class="material-icons" id="menu-icon" style="font-size: 48px;">menu</span></button>
    <div class="navbox" style="display: none;">
        <div class = "navbarBack"></div>
        <a href="{{url_for('home')}}"class="pageNav">home</a>
        <a href="{{url_for('about')}}" class="pageNav">about</a>
        <a href="{{url_for('contact')}}" class="pageNav">contact us</a>
        <a href="{{url_for('tsa_info')}}" class="pageNav">tsa info</a>
    </div>

    {% block content %}{% endblock %}

    <footer class="py-3 px-5 bg-light">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="{{ url_for('home') }}" class="nav-link text-muted px-2">Home</a></li>
            <li class="nav-item"><a href="{{ url_for('about') }}" class="nav-link text-muted px-2">About</a></li>
            <li class="nav-item"><a href="{{ url_for('contact') }}" class="nav-link text-muted px-2">Contact</a></li>
            <li class="nav-item"><a href="{{ url_for('tsa_info') }}" class="nav-link text-muted px-2">TSA Info</a></li>
        </ul>
        <p class="text-center text-muted">
            The source code is licensed <a
            href="https://github.com/j-nac/TSAWebmaster-2122/blob/a82b9b293e339e309c6b0c8c2a64bb68afc37d82/LICENSE" target="_blank">MIT</a>.
            The website content is licensed <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a>.
        </p>
    </footer>

    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
</body>

</html>