<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <title>{{ title }} | SITE NAME</title>
    {% block head %}{% endblock %}
</head>
<body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
        </div>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-start">
                <a href="{{ url_for('home') }}" class="navbar-item">Home</a>
                <a href="{{ url_for('about') }}" class="navbar-item">About</a>
                <a href="{{ url_for('contact') }}" class="navbar-item">Contact</a>
                <a href="{{ url_for('tsa_info') }}" class="navbar-item">TSA Info</a>
            </div>
        </div>
    </nav>
    <div class="container">{% block content %}{% endblock %}</div>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
</body>
</html>