{% extends file %}
{% block head %} {% endblock %}
{% block content %}
<div class="container">
    <section class="container my-5 cartbox">
        <h1>My Cart</h1>
        <ul id = 'cart'>
            {% for item in items %}
            <li id="item{{item['item'].id }}cont">
                <p>{{ item['item'].name }} x<g id="item{{ item['item'].id }}">{{ item['quantity'] }}</g> - $<g>{{ item['item'].price }}</g></p> 
                <button onclick="changeItem({{ item['item'].id }}, -1)" class="cool-btn">Remove</button>
                <button onclick="changeItem({{ item['item'].id }}, 1)" class="cool-btn">Add</button>
            </li>
            {% endfor %}
        </ul>
        {% if items %}
        <button class="cooler-btn">Buy Now</button>
        {% else %}
        <p>You haven't bought anything yet! :(</p>
        {% endif %}
        
    </section>
</div>
{% endblock %}