{% extends file %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container">
    <section class="container my-5">
        <h1>{{ title }}</h1>
        <br><br><br>
        <h2 style="font-size: 35px; color: #0ABAB5">Is there a way to personally contact my favorite artists?</h2>
        <p style="font-size: 20px">Of course! We have scheduled FanMeets over the course of our festival so you can meet them. If you go over to the “Artists” tab on the drop down menu to the left, you can go ahead and make an appointment. As an added bonus, you don’t have to just sign up for one if you like several artists. There are plenty of options for scheduling times and a chance to win merchandise from your favorite artist!</p>
        <br><br>
        <h2 style="font-size: 35px; color: #0ABAB5">What do I do if I have technology problems?</h2>
        <p style="font-size: 20px">There are a lot of things you could do to fix it. If it’s on our end, we have options where you could lower the screen resolution or slight modifications to improve the processing output so things could load better for you. For the most part, you’ll have to talk to your internet provider if your wifi isn’t working. We highly recommend using earbuds or headphones to listen to the artist’s music. There are also many troubleshooting links posted on our YouTube channel.</p>
        <br><br>
        <h2 style="font-size: 35px; color: #0ABAB5">I’m a bit concerned about my privacy and the security of this website. Are you tracking my data?</h2>
        <p style="font-size: 20px">You have the option and right to decline tracking services on this website, but we primarily use the information for service optimization, such as faster loading time, tailored ads, and your location! Your information is completely secure and available to everybody and will only be sold to third parties after the music festival; therefore, completely liability free! </p>
        <br><br>
        <h2 style="font-size: 35px; color: #0ABAB5">How do I receive a refund?</h2>
        <p style="font-size: 20px">On the bottom of every page of our website, we have our sales and refund policy. If you booked a ticket to see a performance then simply go to the link at the bottom of the footer and it will take you through a step-by-step process to our satisfaction. If this is in regards to the merchandise, we have a much stricter guideline and often, we only allow returns for damaged merchandise.</p>
        <br><br>
        <h2 style="font-size: 35px; color: #0ABAB5">Could I sell my ticket to other people if I don’t want it?</h2>
        <p style="font-size: 20px">When you receive your ticket, you’ll receive confirmation in your email or phone with your 12-digit ticket number and ID. Only one person at a time will be allowed to use that ticket so if you truly don’t feel comfortable or want to go, you could give out that ticket number to others. We highly encourage scalping and the distribution of our product through any way possible because it helps our business!</p>
        <br><br>
        <h2 style="font-size: 35px; color: #0ABAB5">Can I show up in-person to where the music festival is currently going on?</h2>
        <p style="font-size: 20px">With the COVID-19 pandemic, many options for in-person activities are unavailable. We would sadly have to escort you out of the premises and back to your home (We know where you live! Super convenient!). On the bright side, we hold this music festival in place of what many would miss if it weren’t for this pandemic. So while you can’t experience this in-person, you could do it online!</p>
        <br><br>
        <h2 style="font-size: 35px; color: #0ABAB5">How will this even work?</h2>
        <p style="font-size: 20px">Good question! We, like most other people, have turned to video conferencing during the pandemic, and luckily this enables us to broadcast performances live. When you pay for a ticket you’ll receive a link to join a video call, which is what you’ll use to watch artists live. After the festival artists will also have the option to release their performances for anyone to watch. </p>

    </section>
</div>
{% endblock %}