{% extends 'base.html' %}

{% block head %}
<link href="{{url_for('static', filename='css/home.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="countdownContainer">
    <div class="countdownSubBox">
        <h1 class="countdownText">COUNTDOWN</h1>
        <countdown></countdown>
    </div>
    <img src="https://images.unsplash.com/photo-1638977937549-15b0cd182636?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80"
        alt="filler" class="countdownBackground">
</div>
<div class="container homeContent">
    <div class="container aboutTheEventContainer my-5">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer libero enim, elementum et convallis sit
            amet, porttitor ac sapien. Quisque volutpat elementum libero, a hendrerit justo porta quis. Morbi lobortis
            pellentesque eros. Quisque blandit accumsan arcu, et elementum urna vehicula ut. Praesent ut pharetra nisi,
            ac suscipit risus. Pellentesque semper tempor felis ac lobortis. Donec vehicula elementum nibh, sed
            malesuada augue porta nec. Sed feugiat dolor non nunc pretium faucibus. </p>
    </div>

    <div class="container staff my-5">
        <h1>Hosted By</h1>
        <p>BLANK THE BLANK<br>Featuring: <br> BLANK, BLANK, BLANK, BLANK, BLANK, MORE BLANK, SOMETHING THE BLANK, YOUR
            MOM THE BLANK, WILSON THE BLANK, ARE YOU SURE THE BLANK, AND SO ON</p>
    </div>

    <div class="container scheduleContainer my-5">
        <h1>Schedule</h1>
        <div class="scheduleSubBox">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer libero enim, elementum et convallis sit
                amet, porttitor ac sapien. </p>
            <img class="scheduleImage" src="{{ url_for('static', filename='img/test-img.png') }}" alt="test-img">
        </div>
    </div>

    <div class="container sponsorContainer my-5">
        <h1>Sponsors</h1>
        <div class="row sponsorRow1">
            <img class="col sponsorImage" src="{{ url_for('static', filename='img/test-img.png') }}" alt="test-img">
            <div class="col"></div>
            <img class="col sponsorImage" src="{{ url_for('static', filename='img/test-img.png') }}" alt="test-img">
            <div class="col"></div>
            <img class="col sponsorImage" src="{{ url_for('static', filename='img/test-img.png') }}" alt="test-img">
        </div>
        <div class="row sponsorRow2">
            <div class="col"></div>
            <img class="col sponsorImage" src="{{ url_for('static', filename='img/test-img.png') }}" alt="test-img">
            <div class="col"></div>
            <img class="col sponsorImage" src="{{ url_for('static', filename='img/test-img.png') }}" alt="test-img">
            <div class="col"></div>
        </div>
        <div class="row sponsorRow1">
            <img class="col sponsorImage" src="{{ url_for('static', filename='img/test-img.png') }}" alt="test-img">
            <div class="col"></div>
            <img class="col sponsorImage" src="{{ url_for('static', filename='img/test-img.png') }}" alt="test-img">
            <div class="col"></div>
            <img class="col sponsorImage" src="{{ url_for('static', filename='img/test-img.png') }}" alt="test-img">
        </div>
    </div>
</div>

<script src="{{url_for('static', filename='js/home.js')}}"></script>
{% endblock %}