{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container">
    <section class="container my-5">
        <h1>{{ item.name }} - ${{item.price}}</h1>
        <img src="{{ url_for('static', filename='img/'+item.image_file) }}" alt="">
        <p>{{ item.description }}</p>
        <button type="button" class="btn btn-primary">Buy now</button>
        <p>Tags:</p>
        {% for i in item.tags %}
            <p>{{ i.name }}</p>
        {% endfor %}
    </section>
</div>
{% endblock %}