{% for item in query_results %}
    <button link="{{ url_for('item',id=item.id) }}" class="card store-card">
        {% if item.image_file %}
            <img src="{{ url_for('static', filename='img/'+item.image_file) }}" alt="" class="card-img-top">
        {% else %}
            <img src="{{ url_for('static', filename='img/test-img.png') }}" alt="" class="card-img-top">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <h6 class="card-text">{{ item.description }}</h6>
        </div>
    </button>
{% endfor %}