{% extends file %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container">
    <section class="container my-5 itempage" itemid="{{ item.id }}">
        <button id="go-cart" link="{{ url_for('cart') }}" class="linkme">My Cart<br><span class="material-icons">
            shopping_cart
            </span>
        </button>
        <h1>{{ item.name }}</h1>
        <p>${{ item.price }}</p>
        <div class="itemanddesc">
            <img src="{{ url_for('static', filename='img/'+item.image_file) }}" alt="" style="max-width: 400px">
            <div class = 'desc'>
                <p>{{ item.description }}</p>
                <div id="checkout">
                    <input type="number" value="1" min="1" id="itemquan">
                    <button type="button" class="red-btn" onclick="add_item()">Buy now</button>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}