{% extends 'base.html' %}

{% block head %}
<link href = "{{ url_for('static', filename = 'css/register.css') }}" rel = "stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <section class="container my-5">
        <h1>{{ title }}</h1>
        <form>
            <table>
                <tr>
                    <th width = "25%">Day</th>
                    <th width = "25%">Time</th>
                    <th width = "50%">Event</th>
                </tr>
                <tr>
                    <th rowspan="3"><input type='radio' name='day' value='0'> June 17th</th>
                    <td>9:00am - 10:00am</td>
                    <td>pepe the frog kicks frog days for copyright infringment</td>
                </tr>
                <tr>
                    <td>10:00am - 11:59pm</td>
                    <td>giving me money</td>
                </tr>
                <tr>
                    <td>12:00pm - 1:00pm</td>
                    <td>lunch break for artists</td>
                </tr>
                <tr>
                    <th rowspan="2"><input type='radio' name='day' value='1'> June 18th</th>
                    <td>content</td>
                    <td>content</td>
                </tr>
                <tr>
                    <td>content</td>
                    <td>content</td>
                </tr>
            </table>
            <button>Buy tickets</button>
        </form>
    </section>
</div>
{% endblock %}