{% extends 'base.html' %}

{% block head %}
<link href = "{{ url_for('static', filename = 'css/register.css') }}" rel = "stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <section class="container my-5">
        <h1>{{ title }}</h1>
        <form>
            <table class = 'day'>
                <tr class='label'>
                    <th width='25%'></th>
                    <th width='25%'>Time</th>
                    <th width='50%'>Event</th>
                </tr>
                <tr>
                    <th rowspan="5">June 20th</th>
                    <td>10:30am - 12:00pm</td>
                    <td>The Embers Perform Live</td>
                </tr>
                <tr>
                    <td>12:00pm - 1:30pm</td>
                    <td>Bloom Performs Live</td>
                </tr>
                <tr>
                    <td>1:30pm - 3:00pm</td>
                    <td>Evan Performs Live</td>
                </tr>
                <tr>
                    <td>3:00pm - 4:30pm</td>
                    <td>Frog Days Performs Live</td>
                </tr>
                <tr>
                    <td>4:30pm - 6:00pm</td>
                    <td>Anywhere/Everywhere Performs Live</td>
                </tr>
            </table>
            <button>Buy ticket</button>
        </form>
        <div class = 'previews'>
            <img src="{{ url_for('static', filename='img/Merch-designs/frog-days/NOT MERCH.jpg') }}" alt="artist">
            <img src="{{ url_for('static', filename='img/Merch-designs/boymade/NOT MERCH.jpg') }}" alt="artist">
        </div>
        <form>
            <table class = 'day'>
                <tr class='label'>
                    <th width='25%'></th>
                    <th width='25%'>Time</th>
                    <th width='50%'>Event</th>
                </tr>
                <tr>
                    <th rowspan="6">June 20th</th>
                    <td>11:00am - 12:30pm</td>
                    <td>boymade Perform Live</td>
                </tr>
                <tr>
                    <td>12:30pm - 2:00pm</td>
                    <td>Frog Days Performs Live</td>
                </tr>
                <tr>
                    <td>2:00pm - 3:30pm</td>
                    <td>Evan Performs Live</td>
                </tr>
                <tr>
                    <td>4:30pm - 6:00pm</td>
                    <td>The Embers Perform Live</td>
                </tr>
                <tr>
                    <td>6:00pm - 7:30pm</td>
                    <td>Bloom Performs Live</td>
                </tr>
                <tr>
                    <td>7:30pm - 9:00pm</td>
                    <td>Cam Lane Performs Live</td>
                </tr>
            </table>
            <button>Buy ticket</button>
        </form>
        <div class = 'previews'>
            <img src="{{ url_for('static', filename='img/Merch-designs/evan-walker/NOT MERCH.jpg') }}" alt="artist">
            <img src="{{ url_for('static', filename='img/Merch-designs/star-strung/NOT MERCH.jpg') }}" alt="artist">
        </div>
        <form>
            <table class = 'day'>
                <tr class='label'>
                    <th width='25%'></th>
                    <th width='25%'>Time</th>
                    <th width='50%'>Event</th>
                </tr>
                <tr>
                    <th rowspan="5">June 22th</th>
                    <td>10:15am - 11:45pm</td>
                    <td>Anywhere/Everywhere Perform Live</td>
                </tr>
                <tr>
                    <td>12:00pm - 1:30pm</td>
                    <td>boymade Performs Live</td>
                </tr>
                <tr>
                    <td>2:15pm - 3:45pm</td>
                    <td>Cam Lane Performs Live</td>
                </tr>
                <tr>
                    <td>4:30pm - 6:00pm</td>
                    <td>Hey, there! Performs Live</td>
                </tr>
                <tr>
                    <td>7:00pm - 8:30pm</td>
                    <td>Star&#183Strung Perform Live</td>
                </tr>
            </table>
            <button>Buy ticket</button>
        </form>
    </section>
</div>
{% endblock %}