{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/store.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <section class="container my-5">
        <h1>{{ title }}</h1>
        <div class="row">
            <div class="col-11"><input type='text' id="search"></div>
            <div class="col-1"><input type="submit" value="Search" id="search-button" onclick="search_items(document.getElementById('search').value)"></div>
        </div>
        <div class="tags-select">
            {% for t in tags %}
                <input type="checkbox" name="tags" id="tag-{{ t.name }}" value="{{ t.name }}" onclick="apply_tag('{{ t.name }}')">
                <label for="tag-{{ t.name }}">{{ t.name }}</label>
            {% endfor %}
        </div>
        <div class="row grid" id="gallery">
        {% for item in query_results %}
            <div class="card store-card" searchable = '{{ item.name }}' tags = '{% for tag in item.tags %}{{ tag.name }} {% endfor %}'>
                {% if item.image_file %}
                    <img src="{{ url_for('static', filename='img/'+item.image_file) }}" alt="" class="card-img-top">
                {% else %}
                    <img src="{{ url_for('static', filename='img/test-img.png') }}" alt="" class="card-img-top">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <div class="card-text">{{ item.description }}</div>
                    <a href="{{ url_for('item', id=item.id) }}" class="stretched-link"></a>
                </div>
            </div>
        {% endfor %}
        </div>
    </section>
</div>
<script src="{{ url_for('static', filename='js/store.js') }}"></script>
{% endblock %}