{% extends file %}

{% block head %}
<style>
    .row {
        justify-content: center;
    }

    .store-card {
        width: 18rem;
        background-color: var(--prussian-blue);
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    #search-bar {
        text-decoration: none;
        border: none;
        width: 100%;
        padding: 5px;
    }
    
    #search-button {
        text-decoration: none;
        border: none;
        background-color: var(--tiffany-blue);
        color: var(--cultured);
        padding: 5px 10px;
    }
    
    .tags-select {
        padding: 2px;
        margin: 10px 5px;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }
    .tags-select label{
        padding: 6px;
        margin:4px;
    }
    .tags-select button{
        background-color: var(--radical-red);
        border: none;
    }
    .tags-select input {
        display: none;
    }
      
    .tags-select input:checked+button {
        background-color: var(--radical-red-alt);
    }
    
    @keyframes open {
        from{
            width: 5x;
        }
        to{
            width: 15px;
        }
    }
    
    ::-webkit-scrollbar {
        height: 15px;
    }
    
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    ::-webkit-scrollbar-thumb {
        background: #888;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
</style>
{% endblock %}

{% block content %}
<script src="{{ url_for('static', filename='js/store.js') }}"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<div class="container" onload="mason()">
    <section class="container my-5">
        <h1>{{ title }}</h1>
        <form action="" method="get">
            <div class="row">
                <div class="col-11">{{ form.search(placeholder_="Search") }}</div>
                <div class="col-1"><input type="submit" value="Search" id="search-button"></div>
            </div>
            <div class="tags-select">
                {% for t in tags %}
                    <input name="tags" id="tag-{{ t.name }}" value="{{ t.name }}" type="checkbox" {% if t.name in selected_tags %} checked {% endif %}>
                    <button>
                        <label for="tag-{{ t.name }}">{{ t.name }}</label>
                    </button>
                {% endfor %}
            </div>
        </form>
        <div class="row grid" id="gallery">
        {% if query_results %}
            <div class="card store-card">
                {% if query_results[0].image_file %}
                    <img src="{{ url_for('static', filename='img/'+query_results[0].image_file) }}" alt="" class="card-img-top" onload="mason()">
                {% else %}
                    <img src="{{ url_for('static', filename='img/test-img.png') }}" alt="" class="card-img-top" onload="mason()">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ query_results[0].name }}</h5>
                    <div class="card-text">{{ query_results[0].description }}</div>
                    <button link="{{ url_for('item',id=query_results[0].id) }}" class="page-nav stretched-link"></button>
                </div>
            </div>
        {% endif %}
        {% for item in query_results[1:] %}
            <div class="card store-card">
                {% if item.image_file %}
                    <img src="{{ url_for('static', filename='img/'+item.image_file) }}" alt="" class="card-img-top">
                {% else %}
                    <img src="{{ url_for('static', filename='img/test-img.png') }}" alt="" class="card-img-top">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <div class="card-text">{{ item.description }}</div>
                    <button link="{{ url_for('item',id=item.id) }}" class="page-nav stretched-link"></button>
                </div>
            </div>
        {% endfor %}
        </div>
    </section>
</div>
{% endblock %}