{% extends file %}

{% block head %}
<script>window.onload=loadstore</script>
{% endblock %}

{% block content %}
<div class="container">
    <section class="container my-5">
        <h1>{{ title }}</h1>
        <form id = "searchbox">
            <div class="row">
                <div class="col-12 col-lg-9">{{ form.search(placeholder_="Search", value=search if search else '') }}</div>
                <div class="col-12 col-lg-3"><input type="submit" value="Search" id="search-button"><button id="go-cart" class="linkme" link="{{ url_for('cart') }}">My Cart</button></div>
            </div>
            <div class="tags-select">
                {% for t in tags %}
                    <input name="tags" id="tag-{{ t.name }}" value="{{ t.name }}" type="checkbox" {% if t.name in selected_tags %} checked {% endif %}>
                    <button>
                        <label for="tag-{{ t.name }}">{{ t.name }}</label>
                    </button>
                {% endfor %}
            </div>
        </form>
        <div class="grid row" id="gallery">
        
        {% for item in query_results %}
            <button link="{{ url_for('item',id=item.id) }}" class="card store-card">
                {% if item.image_file %}
                    <img src="{{ url_for('static', filename='img/'+item.image_file) }}" alt="" class="card-img-top">
                {% else %}
                    <img src="{{ url_for('static', filename='img/test-img.png') }}" alt="" class="card-img-top">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <h6 class="card-text">{{ item.description }}</h6>
                </div>
            </button>
        {% endfor %}
        </div>
    </section>
</div>
{% endblock %}